body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
    overflow-y: hidden;
    overflow-x: hidden;

}

body {
    -webkit-app-region: drag;
}

img {
    -webkit-app-region: no-drag;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

